.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-links{
  text-shadow: black;
  font-size: larger;
  font-weight: 600;
  /* color: blue; */
  /* display: grid; */
  text-align: center;
}


/* .wrapper {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
} */


@media (max-width: 850px) {
  .sidebar {
    display: none;
  }
  
  .menu-toggle {
    display: initial;
   /* display the toggle, previously hidden */
  }
  
  .menu-toggle {
    display: none;
  }
  
  .user {
    font-weight: 500;
  }
  
  .skill {
    font-weight: 500;
  }
  
  .description {
    font-weight: 500;
  }
  
  .date {
    font-weight: 500;
    text-align: center;
  }

  .help {
      background-color: rgb(11, 33, 224);
      width: 100%;
      height: 30px;
      border: 1px solid black;
      font-size: 15px;
      cursor: pointer;
      transition: 0.5s;
      color: white;
      font-size: 20px;
      font-weight: 500;
    }
    
    .help:active {
      background-color: rgb(18, 36, 192);
    }
    
  
  #feed tr > th {
    text-align: center;
    background-color: lightgray;
    border: black 1px solid;
    padding: 5px;
    width: 30px;
  }

  #feed tr > td {
    text-align: center;
    background-color: whitesmoke;
    border: black 1px solid;
    padding: 5px
  }
  
  table {
    font-size: 20px;
    align-self: center;
    border:1px solid black ;
    margin-top: 30px;
    width: 100vw;
  }

.welcome{
  text-align: center;
}

h4 {
  background-color: rgb(0, 33, 221);
  color: white;
  padding: 5px;
  /* border:1px solid black ; */
  font-weight: normal;
  font-size: 20px;
}

h3 {
  color: black;
  padding: 5px;
  /* border:1px solid black ; */
  font-weight: 600;
  font-family: sans-serif;
  font-size: 20px;
}

body {
  background-color: rgb(235, 231, 214);
}


#passwordInputSignIn, #passwordInputSignUp, #emailInput, #nameInput, #phoneInput { 
  width: 70vw;
  height: 25px;
  font-size: 20px;
  margin: 5px;
  border:1px solid black ;
}

.loginbtn {
  width: 50vw;
  height: 30px;
  font-size: 20px;
  border: 1px solid black;
  margin: 5px;
  background-color: rgb(11, 33, 224);
  color: white;
}

.signupbtn{
  width: 50vw;
  height: 30px;
  font-size: 20px;
  border: 1px solid black;
  margin: 5px;
  background-color: rgb(11, 33, 224);
  color: white;
}

.signupForm, .loginForm, .requestForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileName, .profileEmail, .profileRanking {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 15px;
}

.profileInfo {
  margin-left: 15px;
  font-size: 23px;
}

.requestHelpBtn{
  width: 50vw;
  height: 30px;
  font-size: 20px;
  border: 1px solid black;
  margin: 5px;
  background-color: rgb(114, 27, 35);
  color: white;
}

.descriptionForm, .skillNeeded, .dateOption {
  margin-top: 15px;
  font-size: 18px;
}

.description, .skillDropdown, .dateSelected {
  width: 70vw;
  height: 25px;
  font-size: 20px;
  margin: 5px;
  border:1px solid black ;
}

.addRequest {
  width: 50vw;
  height: 40px;
  font-size: 20px;
  border: 1px solid black;
  margin-top: 45px;
  background-color: rgb(114, 27, 35);
  color: white;
}

}